/* 🌎🌎 🌎🌎 🌎🌎 🌎🌎 🌎🌎 🌎🌎 🌎🌎 🌎🌎 */

/* ----- 🌎🌎🌎 GLOBAL 🌎🌎🌎 --- CSS CUSTOM VARIABLES */

:root {
  --border_radius: 5px;
  --border_radius_card_pics: 20px;
  --card_bg_color: #f5fffa;
  --body_bg_color: #eee;
  --brand_color_1: #dd137b;
  --brand_color_2: #ff7bac;
  --brand_color_3: #fc91c2;
  --font_family_1: "Open Sans", sans-serif;
  --font_family_2: "Pacifico", cursive;
  --font_size_1: 1.5vw;
  --font_size_hover: 1.75vw;
  --font_size_2: 2.25vw;
  --font_size_3: 3.375vw;
  --font_size_4: 5.063vw;
  --font_size_5: 7.594vw;
  --font_size_5: 7vw;
  --black: #272727;
  --white: #f5fffa;
  --brand_color_1: #dd137b;
  --card_width: 90vw;
  --box_shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --space_between_h1_and_h2: 1vh;
  --space_between_h2_and_title_card: 10vh;
  --space_between_cards: 15vh;
  --space_between_pitch_cards: 10vh;
}

/* ----- 🌎🌎🌎 GLOBAL 🌎🌎🌎 --- THE BASICS */

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-weight: 500;
  /* font-size: 14px; */
  color: var(--black);
}

body {
  background: var(--body_bg_color);
  font-family: var(--font_family_1);
}

/* ----- 🌎🌎🌎 GLOBAL 🌎🌎🌎 --- TYPOGRAPHY */

h1,
h2,
h3,
p,
ul {
  color: var(--black);
}

h1 {
  font-family: var(--font_family_2);
  font-weight: 700;
  font-size: var(--font_size_5);
  color: var(--brand_color_3);
  margin-bottom: 3vh;
}

h2 {
  font-family: var(--font_family_2);
  font-weight: 700;
  font-size: var(--font_size_4);
  color: var(--brand_color_3);
}

h3 {
  font-size: var(--font_size_3);
}

p {
  font-weight: 400;
  font-size: var(--font_size_1);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

p.first_paragraph {
  font-size: var(--font_size_2);
}

/* ----- 🌎🌎🌎 GLOBAL 🌎🌎🌎 --- TYPOGRAPHY --- SPAN CLASSES */

.center {
  text-align: center;
}

span.brand-highlight {
  color: var(--brand_color_1);
  font-weight: 600;
  text-shadow: 0 2px 0 rgba(221, 19, 123, 0.07);
}

span.global_line_break {
  display: inline-block;
}

.brand-highlight {
  color: var(--brand_color_1);
}

/* ----- 🌎🌎🌎 GLOBAL 🌎🌎🌎 --- HYPERLINKS */
/* Remember that when setting styles for link states, 
          a:hover must be declared after a:link & a:visited and 
          a:active must be declared after a:hover. */

a:link {
  color: var(--brand_color_1);
  font-size: var(--font_size_1);
}

a:visited {
  color: var(--brand_color_2);
  font-size: var(--font_size_1);
}

a:hover {
  color: var(--brand_color_1);
  font-size: var(--font_size_1);
}

a:active {
  color: var(--black);
  font-size: var(--font_size_1);
}

/* ----- 🌎🌎🌎 GLOBAL 🌎🌎🌎 --- ORDERED & UNORDERED LISTS & LIST ITEMS */
ul {
  font-family: var(--font_family_1);
  font-size: var(--font_size_1);
}

li {
  padding-bottom: 0.25vh;
}

/* SECTION SPECIFIC CLASSES */

/* 🧩🧩 🧩🧩 🧩🧩 🧩🧩 🧩🧩 🧩🧩 🧩🧩 🧩🧩*/

/* ----- 💞💞💞 NAV.SIG_SERIES_BACK 💞💞💞 */

nav.sig_series_back a .icon {
  color: var(--black);
  transition: rotate 1s;
}

nav.sig_series_back .icon:hover {
  color: var(--brand_color_2);
  rotate: 360deg;
}

/* ----- 💞💞💞 SECTION.SIG_SERIES_TITLE 💞💞💞 */

/* ----- 💞💞💞 SECTION.SIG_SERIES_TITLE 💞💞💞 ---TYPOGRAPHY */

section.sig_series_title h1 {
  text-align: center;
  margin-bottom: var(--space_between_h1_and_h2);
}

section.sig_series_title h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: var(--space_between_h2_and_title_card);
}

section.sig_series_title p {
  font-weight: 600;
}

/* ----- 💞💞💞 SECTION.SIG_SERIES_TITLE 💞💞💞 --- TYPOGRAPHY --- ANIMATION */

section.sig_series_title h1.neon_pwyf {
  -webkit-animation: neon_pwyf 1.5s ease-in-out infinite alternate;
  -moz-animation: neon_pwyf 1.5s ease-in-out infinite alternate;
  animation: neon_pwyf 1.5s ease-in-out infinite alternate;
}

section.sig_series_title h1.neon_pwyf:hover {
  animation: neon_pwyf-hover 1.5s ease-in-out infinite alternate;
}

section.sig_series_title h2.neon_pwyf {
  -webkit-animation: neon_pwyf 1.5s ease-in-out infinite alternate;
  -moz-animation: neon_pwyf 1.5s ease-in-out infinite alternate;
  animation: neon_pwyf 1.5s ease-in-out infinite alternate;
}

section.sig_series_title h2.neon_pwyf:hover {
  animation: neon_pwyf-hover 1.5s ease-in-out infinite alternate;
}

/* ----- 💞💞💞 SECTION.SIG_SERIES_TITLE 💞💞💞 --- LAYOUT --- CSS GRID */

section.sig_series_title .grid-container-title-card {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 10vh 1fr 10vh;
  background: var(--body_bg_color);
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space_between_cards);
  margin-left: 0vw;
  margin-right: 0vw;
}

section.sig_series_title .grid-title-card-text {
  grid-column: 1 / 6;
  grid-row: 2;
  height: 100%;
  width: 100%;
  max-width: 60ch;
  background: var(--card_bg_color);
  /* For some reason, I have to explicitly set a font size so that the max-width: 60ch plays nice with spacing & laying? */
  font-size: var(--font_size_1);
  /* Vertical width units are used for top & hottom padding instead of vertical height because the original padding values (3em 4em 2em) looked great and I wanted to preserve them when converting all units over to vertical width or height units.  Because em is calculated using the "loca" font size, and the local font size is set in vws, the corresponding padding values had to be set in vw as well to recreate the original effect. */
  padding: 4.5vw 6vw 3vw;
  border-radius: var(--border_radius);
}

section.sig_series_title .grid-title-card-band {
  background: var(--card_bg_color);
  grid-column: 1 / -1;
  grid-row: 2;
  width: 100%;
  height: 100%;
  border-radius: var(--border_radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

section.sig_series_title .grid-title-card-image {
  grid-column: 6 / 9;
  grid-row: 1 / 4;
  height: auto;
  max-width: 75%;
}

/* 🧩🧩 🧩🧩 🧩🧩 🧩🧩 🧩🧩 🧩🧩 🧩🧩 🧩🧩*/

/* ----- 💞💞💞 SECTION.ANCHOR_LINKS 💞💞💞 */

/* ----- 💞💞💞 SECTION.ANCHOR_LINKS 💞💞💞 --- TYPOGRAPHY */

section.anchor_links h3 {
  background: var(--white);
  text-align: center;
  margin: 0 auto;
  /* margin-bottom: 10px; */
  margin-bottom: 5vh;
  border-radius: var(--border_radius);
  border-radius: none;
  box-shadow: var(--box_shadow);
  box-shadow: none;
}

/* ----- 💞💞💞 SECTION.ANCHOR_LINKS 💞💞💞 --- HYPERLINKS */

section.anchor_links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section.anchor_links li.heart_bullets {
  list-style: none;
  margin-bottom: 2vh;
}

section.anchor_links li.heart_bullets:before {
  content: "💕";
  margin-left: -5px;
  margin-right: 10px;
}

section.anchor_links a.anchor_links {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

section.anchor_links a.anchor_links:link {
  color: var(--black);
}

section.anchor_links a.anchor_links:visited {
  color: var(--black);
}

section.anchor_links a.anchor_links:hover {
  color: var(--white);
  font-size: var(--font_size_hover);
  -webkit-animation: neon_anchor_links 1.5s ease-in-out infinite alternate;
  -moz-animation: neon_anchor_links 1.5s ease-in-out infinite alternate;
  animation: neon_anchor_links 1.5s ease-in-out infinite alternate;
  -webkit-animation: neon_anchor_links 0.5s ease-in-out infinite alternate;
  -moz-animation: neon_anchor_links 0.5s ease-in-out infinite alternate;
  animation: neon_anchor_links 0.5s ease-in-out infinite alternate;
}

section.anchor_links a.anchor_links:active {
  color: var(--black);
}

/* ----- 💞💞💞 SECTION.ANCHOR_LINKS 💞💞💞 --- LAYOUT --- FLEXBOX  */

/* Instructions Flex Container & Flex Items */

section.anchor_links div.flex_container-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: var(--card_bg_color);
  width: var(--card_width);
  border-radius: var(--border_radius);
  box-shadow: var(--box_shadow);
  margin: 0 auto;
  margin-bottom: var(--space_between_cards);
}

section.anchor_links div.h3-flex_container {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

section.anchor_links div.instructions-flex_container {
  display: flex;
  flex-direction: column;
  background: var(--card_bg_color);
}

section.anchor_links div.instructions-flex_container-top {
  display: flex;
  background: var(--card_bg_color);
  padding: 2vw;
  gap: 3vw;
}

section.anchor_links div.instructions-flex_container-bottom {
  display: flex;
  background: var(--card_bg_color);
  padding: 2vw;
  margin-bottom: 5vh;
}

section.anchor_links div.instructions-flex_container-anchor_links_group {
  background: var(--brand_color_3);
  display: flex;
  border-radius: var(--border_radius);
  box-shadow: var(--box_shadow);
  padding: 2vw;
}

section.anchor_links div.anchor_links_group-1 {
  display: flex;
  flex-grow: 1;
  /* margin-right: 5vw; */
  /* Initial styling I used to separate top two flex boxes before applying "gap: 3vw" to their container */
}

section.anchor_links div.anchor_links_group-2 {
  flex-grow: 1;
  align-items: center;
}

section.anchor_links div.anchor_links_group-3 {
  flex-grow: 2;
  align-items: center;
}

/* 🧩🧩 🧩🧩 🧩🧩 🧩🧩 🧩🧩 🧩🧩 🧩🧩 🧩🧩*/

/* ----- 💞💞💞 SECTION.PITCH_CARDS 💞💞💞 */

/* ----- 💞💞💞 SECTION.PITCH_CARDS 💞💞💞 --- LAYOUT - TYPOGRAPHY */

section.pitch_cards {
  text-shadow: 0 2 px 0 rgba(0, 0, 0, 0.07);
}

/* ----- 💞💞💞 SECTION.PITCH_CARDS 💞💞💞 --- LAYOUT - FLEXBOX */

section.pitch_cards .center_grid_container--sigseries_cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- 💞💞💞 SECTION.PITCH_CARDS 💞💞💞 --- LAYOUT - CSS GRID */

section.pitch_cards .grid_container--sigseries_cards {
  display: grid;
  grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr 0.65fr repeat(4, 1fr) 1.5fr 0.5fr;
  grid-template-columns:
    [left-edge] 0.5fr repeat(2, 1fr)
    [gap-between-image-and-text] 0.25fr repeat(6, 1fr)
    [right-edge] 0.5fr;
  grid-template-rows: repeat(2, 0.25fr) repeat(2, 1fr) 0.75fr repeat(2, 0.25fr);
  grid-template-areas:
    "	.	.	.	.	.	.	.	.	.	.	.		"
    "	.	.	.	.	.	.	.	.	.	.	.		"
    "	image	image	image	.	text	text	text	text	text	text		.	"
    "	image	image	image	.	text	text	text	text	text	text		.	"
    "	.	.	.	.	text text text	text	text	text		.	"
    "	.	.	.	.	.	.	.	.	.	.	.		"
    "	.	.	.	.	.	.	.	.	.	.	.	";
  width: 90vw;
  margin-bottom: var(--space_between_pitch_cards);
  margin-right: 5vw;
  margin-left: 5vw;
}

section.pitch_cards .sigseries--card_band {
  background: var(--card_bg_color);
  grid-column: 2 / -2;
  grid-row: 2 / 7;
  width: 100%;
  height: 100%;
  border-radius: var(--border_radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

section.pitch_cards .sigseries--card_image {
  grid-area: image;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: var(--border_radius_card_pics);
}

section.pitch_cards .sigseries--card_text {
  grid-area: text;
}

/* Typography - Pitch Cards */

section.pitch_cards h3 {
  margin: 0 0 3vw;
  font-family: var(--font_family_1);
  font-weight: 700;
  font-size: 2.6vw;
}

section.pitch_cards p {
  font-family: var(--font_family_1);
  font-size: 1.5vw;
}

section.pitch_cards div.sigseries--card_bulleted li {
  font-size: 1.25vw;
}

section.pitch_cards div.sigseries--card_not_bulleted p:first-of-type {
  /* Make 1st paragraph text of non-bulleted cards slightly bigger. */
  font-size: 2vw;
}

section.pitch_cards div.sigseries--card_not_bulleted p:first-of-type a {
  font-size: 2vw;
}

section.pitch_cards .sigseries--card_bulleted {
  max-width: 55vw;
}

section.pitch_cards .sigseries--card_not_bulleted {
  max-width: 50vw;
}

/* ----- 💞💞💞 SECTION.PITCH_CARDS 💞💞💞 --- HYPERLINKS */

a:link {
  color: var(--brand_color_1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

a:visited {
  color: var(--brand_color_2);
}

a:hover {
  color: var(--brand_color_1);
  font-size: var(--font_size_hover);
}

a:active {
  color: var(--black);
}

a#custom_tweak--mailto {
  font-size: var(--font_size_1);
}

/* Custom Tweak */

/* This looks like a needless redundancy that creeped in when I was refactoring & troubleshooting.  Take a closer look later.  Probably should delete this! */

section.anchor_links a.anchor_links:link {
  color: var(--black);
}

section.anchor_links a.anchor_links:visited {
  color: var(--black);
}

section.anchor_links a.anchor_links:hover {
  color: var(--white);
  font-size: var(--font_size_hover);
  -webkit-animation: neon_anchor_links 1.5s ease-in-out infinite alternate;
  -moz-animation: neon_anchor_links 1.5s ease-in-out infinite alternate;
  animation: neon_anchor_links 1.5s ease-in-out infinite alternate;
  -webkit-animation: neon_anchor_links 0.5s ease-in-out infinite alternate;
  -moz-animation: neon_anchor_links 0.5s ease-in-out infinite alternate;
  animation: neon_anchor_links 0.5s ease-in-out infinite alternate;
}

/* ANIMATIONS */

/* ANIMATIONS - Title Card */
/* ---- Neon effect "neon6"-related CSS at: https://codepen.io/FelixRilling/pen/qzfoc */

@-webkit-keyframes neon_pwyf {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 20px #fc91c2,
      0 0 40px #fc91c2, 0 0 50px #fc91c2, 0 0 50px #fc91c2, 0 0 150px #fc91c2;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px #fc91c2,
      0 0 30px #fc91c2, 0 0 20px #fc91c2, 0 0 20px #fc91c2, 0 0 75px #fc91c2;
  }
}

@-moz-keyframes neon_pwyf {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 20px #fc91c2,
      0 0 40px #fc91c2, 0 0 50px #fc91c2, 0 0 50px #fc91c2, 0 0 150px #fc91c2;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px #fc91c2,
      0 0 30px #fc91c2, 0 0 20px #fc91c2, 0 0 20px #fc91c2, 0 0 75px #fc91c2;
  }
}

@keyframes neon_pwyf {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 20px #fc91c2,
      0 0 40px #fc91c2, 0 0 50px #fc91c2, 0 0 50px #fc91c2, 0 0 150px #fc91c2;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px #fc91c2,
      0 0 30px #fc91c2, 0 0 20px #fc91c2, 0 0 20px #fc91c2, 0 0 75px #fc91c2;
  }
}

@keyframes neon_pwyf-hover {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

@-webkit-keyframes neon_anchor_links {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #dd137b, 0 0 0px #fff, 0 0 0px #fff,
      0 0 0px #f5fffa, 0 0 0px #f5fffa, 0 0 0px #f5fffa, 0 0 0px #fff;
  }
  to {
    text-shadow: 0 0 1.5px #dd137b, 0 0 3px #dd137b, 0 0 0px #fff,
      0 0 0px #f5fffa, 0 0 0px #f5fffa, 0 0 0px #f5fffa, 0 0 0px #f5fffa,
      0 0 0px #f5fffa;
  }
}

@-moz-keyframes neon_anchor_links {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #dd137b, 0 0 0px #fff, 0 0 0px #fff,
      0 0 0px #f5fffa, 0 0 0px #f5fffa, 0 0 0px #f5fffa, 0 0 0px #fff;
  }
  to {
    text-shadow: 0 0 1.5px #dd137b, 0 0 3px #dd137b, 0 0 0px #fff,
      0 0 0px #f5fffa, 0 0 0px #f5fffa, 0 0 0px #f5fffa, 0 0 0px #f5fffa,
      0 0 0px #f5fffa;
  }
}

@keyframes neon_anchor_links {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #dd137b, 0 0 0px #fff, 0 0 0px #fff,
      0 0 0px #f5fffa, 0 0 0px #f5fffa, 0 0 0px #f5fffa, 0 0 0px #fff;
  }
  to {
    text-shadow: 0 0 1.5px #dd137b, 0 0 3px #dd137b, 0 0 0px #fff,
      0 0 0px #f5fffa, 0 0 0px #f5fffa, 0 0 0px #f5fffa, 0 0 0px #f5fffa,
      0 0 0px #f5fffa;
  }
}

/* Media Queries */

/* Media Queries - Tablets */

@media screen and (min-width: 577px) and (max-width: 1024px) {
  /* ----- 🌎🌎🌎 GLOBAL 🌎🌎🌎 */
  :root {
    --font_size_1: calc(1.5vw * 1.5);
    --font_size_hover: calc(1.75vw * 1.5);
    --font_size_2: calc(2.25vw * 1.5);
    --font_size_3: calc(3.375vw * 1.5);
    --font_size_4: calc(5.063vw * 1.5);
    --font_size_5: calc(7.594vw * 0.85);
    --space_between_h1_and_title_card: 5vh;
    --space_between_cards: 5vh;
    --space_between_pitch_cards: 5vh;
  }

  /* ----- 💞💞💞 SECTION.SIG_SERIES_TITLE 💞💞💞 */

  section.sig_series_title .grid-container-title-card {
    grid-template-rows: 0vh 1fr 0vh;
  }

  section.sig_series_title p.first_paragraph {
    font-size: var(--font_size_3);
  }

  /* ----- 💞💞💞 SECTION.ANCHOR_LINKS 💞💞💞 */

  section.anchor_links h3 {
    font-size: 3.25vw;
  }

  section.anchor_links div.instructions-flex_container-top {
    flex-direction: column;
  }

  /* ----- 💞💞💞 SECTION.PITCH_CARDS 💞💞💞 */

  section.pitch_cards span.mobile_break {
    display: block;
  }

  section.pitch_cards ul {
    padding: 2vw;
  }

  section.pitch_cards .center_grid_container--sigseries_cards {
    width: 100%;
    height: 100%;
    background: var(--card_bg_color);
    border-radius: var(--border_radius);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 10vh;
    margin-bottom: var(--space_between_pitch_cards);
  }

  section.pitch_cards .grid_container--sigseries_cards {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  section.pitch_cards .sigseries--card_image {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 2vh;
    width: 45%;
    align-self: center;
    justify-self: center;
    background-color: white;
    border-radius: var(--border_radius_card_pics);
  }

  section.pitch_cards .sigseries--card_bulleted {
    max-width: 9999ch;
  }

  section.pitch_cards .sigseries--card_not_bulleted {
    align-self: center;
    justify-self: center;
    max-width: 9999ch;
  }

  section.pitch_cards h3 {
    font-size: var(--font_size_3);
    text-align: center;
  }

  section.pitch_cards div.sigseries--card_bulleted li {
    font-size: var(--font_size_1);
    margin-bottom: 1vh;
  }

  section.pitch_cards p {
    font-family: var(--font_family_1);
    font-size: 4vw;
    font-size: var(--font_size_1);
  }

  section.pitch_cards div.sigseries--card_not_bulleted p:first-of-type {
    /* Make 1st paragraph text of non-bulleted cards slightly bigger. */
    font-size: 4.75vw;
    font-size: var(--font_size_2);
  }

  /* Remember that when setting styles for link states, 
          a:hover must be declared after a:link & a:visited and 
          a:active must be declared after a:hover. */

  /* Specificity "wars" with other selectors in this .css files necessitated extra code for all links in the first paragraph of non-bulleted cards.  
  Without this CSS, the links font-size displayed small. */

  section.pitch_cards div.sigseries--card_not_bulleted p:first-of-type a:link {
    font-size: 3vw;
  }

  section.pitch_cards div.sigseries--card_not_bulleted p:first-of-type a:hover {
    font-size: 3vw;
  }

  section.pitch_cards
    div.sigseries--card_not_bulleted
    p:first-of-type
    a:visited {
    font-size: 3vw;
  }

  section.pitch_cards
    div.sigseries--card_not_bulleted
    p:first-of-type
    a:active {
    font-size: 3vw;
  }
}

/* Media Queries - Smartphones */

@media screen and (min-width: 0px) and (max-width: 575px) {
  /* ----- 🌎🌎🌎 GLOBAL 🌎🌎🌎 */
  :root {
    --font_size_1: calc(1.5vw * 2.5);
    --font_size_hover: calc(1.75vw * 2.5);
    --font_size_2: calc(2.25vw * 2.5);
    --font_size_3: calc(3.375vw * 1.5);
    --font_size_4: calc(5.063vw * 1.5);
    --font_size_5: calc(7.594vw * 1.5);
    --space_between_h1_and_title_card: 7vh;
    --space_between_cards: 5vh;
    --space_between_pitch_cards: 5vh;
  }

  /* ----- 💞💞💞 SECTION.SIG_SERIES_TITLE 💞💞💞 */

  section.sig_series_title .grid-container-title-card {
    grid-template-rows: 0vh 1fr 0vh;
  }
  section.sig_series_title .grid-title-card-image {
    grid-column: 6 / 9;
    grid-row: 1 / 4;
    height: auto;
    max-width: 90%;
  }

  /* ----- 💞💞💞 SECTION.ANCHOR_LINKS 💞💞💞 */

  section.anchor_links div.instructions-flex_container-top {
    flex-direction: column;
  }

  section.anchor_links div.instructions-flex_container-anchor_links_group {
    padding: 1.25vh;
  }

  section.anchor_links div.anchor_links_group-1 {
    margin-bottom: 2vh;
  }

  section.anchor_links div.anchor_links_group-2 {
    flex-grow: 2;
  }

  section.anchor_links div.anchor_links_group-3 {
    flex-grow: 2;
  }

  section.anchor_links div.flex_container-container {
    width: 100%;
  }

  section.anchor_links div.instructions-flex_container-top {
    gap: 0vw;
  }

  /* ----- 💞💞💞 SECTION.PITCH_CARDS 💞💞💞 */

  section.pitch_cards span.mobile_break {
    display: inline-block;
  }

  section.pitch_cards ul {
    padding: 2vw;
  }

  section.pitch_cards .center_grid_container--sigseries_cards {
    width: 100%;
    height: 100%;
    background: var(--card_bg_color);
    border-radius: var(--border_radius);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 10vh;
    margin-bottom: var(--space_between_pitch_cards);
  }

  section.pitch_cards .grid_container--sigseries_cards {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  section.pitch_cards .sigseries--card_image {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 2vh;
    width: 75%;
    align-self: center;
    justify-self: center;
    background-color: white;
    border-radius: var(--border_radius_card_pics);
  }

  section.pitch_cards .sigseries--card_bulleted {
    max-width: 9999ch;
  }

  section.pitch_cards .sigseries--card_not_bulleted {
    align-self: center;
    justify-self: center;
    max-width: 9999ch;
  }

  section.pitch_cards h3 {
    font-size: 6vw;
    text-align: center;
  }

  section.pitch_cards div.sigseries--card_bulleted li {
    font-size: 3.75vw;
    margin-bottom: 1vh;
  }

  section.pitch_cards p {
    font-family: var(--font_family_1);
    font-size: 4vw;
  }

  section.pitch_cards div.sigseries--card_not_bulleted p:first-of-type {
    /* Make 1st paragraph text of non-bulleted cards slightly bigger. */
    font-size: 4.75vw;
  }

  section.pitch_cards a:link {
    color: var(--brand_color_1);
    font-size: var(--font_size_1);
  }

  section.pitch_cards a:visited {
    color: v var(--brand_color_2);
    font-size: var(--font_size_1);
  }

  section.pitch_cards a:hover {
    color: var(--brand_color_1);
    font-size: var(--font_size_1);
  }

  section.pitch_cards a:active {
    color: var(--black);
    font-size: var(--font_size_1);
  }

  /* Remember that when setting styles for link states, 
          a:hover must be declared after a:link & a:visited and 
          a:active must be declared after a:hover. */

  /* Specificity "wars" with other selectors in this .css files necessitated extra code for all links in the first paragraph of non-bulleted cards.  
  Without this CSS, the links font-size displayed small. */

  section.pitch_cards div.sigseries--card_not_bulleted p:first-of-type a:link {
    font-size: 4.75vw;
  }

  section.pitch_cards div.sigseries--card_not_bulleted p:first-of-type a:hover {
    font-size: 4.75vw;
  }

  section.pitch_cards
    div.sigseries--card_not_bulleted
    p:first-of-type
    a:visited {
    font-size: 4.75vw;
  }

  section.pitch_cards
    div.sigseries--card_not_bulleted
    p:first-of-type
    a:active {
    font-size: 4.75vw;
  }
}
