@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900");
.text--center {
  text-align: center;
}
.mt-15 {
  margin-top: 1.5rem;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #e9e7fc;
  font-weight: 400;
}
.btn {
  padding: 1.5rem 2.5rem;
  color: white;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  transition: background-color 0.2s linear;
}
.btn--primary {
  background-color: #445ae3;
}
.btn--primary:hover {
  background-color: #f469fd;
}
.btn--secondary {
  background-color: #f469fd;
}
.btn--secondary:hover {
  background-color: #445ae3;
}
.dating-app {
  width: 27.5rem;
  overflow: hidden;
  border-radius: 2rem;
  background-color: #fff;
  margin: 5rem auto;
  padding: 2rem 3rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: #0d0e1c;
  box-shadow: 0 1rem 4rem rgba(13, 14, 28, 0.35);
  background-image: url("https://image.ibb.co/cLSkfH/dating_bgd.png");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: -1rem -1rem;
}
@media only screen and (max-width: 23.75em) {
  .dating-app {
    width: auto;
    margin: 2.5rem 1rem;
  }
}
.dating__logo {
  margin-top: 0rem;
  width: 100%;
  text-align: center;
}
.dating__logo img {
  margin: 0 auto 1.5rem;
}
.dating__form {
  margin-top: 8.5rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}
.dating__form > * {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.dating__inp {
  border: 0;
  border-bottom: 1px solid #e9e7fc;
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;
  box-shadow: none;
  outline: none;
  color: #0d0e1c;
  font-size: 1.4rem;
  font-weight: 600;
}
.dating__inp::placeholder {
  color: #0d0e1c;
}
.dating__forgot-pwd {
  display: block;
  margin-top: 1.5rem;
  color: #88879a;
  transition: color 0.2s ease-in;
}
.dating__forgot-pwd:hover {
  color: #f469fd;
}
.dating__footer {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* My recreation CSS */

div.dating-app--2 .dating__logo--2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  height: 50%;
  border-radius: 15px;
  box-shadow: 0 1rem 4rem rgba(13, 14, 28, 0.35);
  background: white;
  font-size: 1.2rem;
  /* dev cruft beneath there */
  /* border: 2px solid orangered; */
  margin: 0 auto;
}

div.dating-app--2 .dating__logo--2 img {
  align-self: center;
  display: block;
  width: 50%;
}

div.dating-app--2 .dating__logo--2 span.dating__slogan-1 {
  font-weight: 700;
  font-size: 15px;
}

div.dating-app--2 .dating__logo--2 span.dating__slogan-2 {
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 12px;
}

form.dating__form--2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form.dating__form--2 input.dating__inp--2 {
  border: 0;
  border-bottom: 1px solid #e9e7fc;
  padding: 1.5rem 0;
  margin-bottom: 2.5rem;
  box-shadow: none;
  outline: none;
  color: #0d0e1c;
  font-size: 1.4rem;
  font-weight: 600;
  width: 75%;
}

form.dating__form--2 .btn--primary {
  text-align: center;
  width: 50%;
  background: #dd137b;
}

form.dating__form--2 .dating__forgot-pwd {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

form.dating__form--2 .dating__forgot-pwd:hover {
  color: black;
}

div.dating__footer--2 {
  display: flex;
  flex-direction: column;
}

div.dating__footer--2 span.dating__account {
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

div.dating__footer--2 .btn--secondary {
  align-self: center;
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
  background: #dd137b;
}
