/* #region Flex Containers */

div.container--letter--text_and_image {
  justify-content: space-around;
}

div.container--letter--text {
  justify-content: center;
  align-items: center;
  max-width: 60ch;
  padding: 25px;
  background: var(--gray_card);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

div.container--letter--image_certifications_and_links {
  align-content: center;
  padding: 25px;
}

/* #endregion */

/* #region Letter Text */

div.container--letter--text p {
  max-width: 39ch;
  font-size: 1.25rem;
}

div.container--letter--text p.larger {
  max-width: 39ch;
  font-size: 1.25rem;
  font-weight: 700;
}

div.container--letter--text p.salutation,
div.container--letter--text p.valediction {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}

div.container--letter--text p.salutation {
  text-align: center;
  margin-bottom: 25px;
}

div.container--letter--text p.valediction {
  text-align: center;
  margin-top: 25px;
}

div.container--letter--text svg {
  width: 95%;
  margin: 15px 0px;
}

div.container--letter--text path {
  fill: var(--black);
  stroke: var(--black);
  stroke-width: 3.5;
}

/* #endregion */

/* #region Letter Image */

aside.container--letter--image_certifications_and_links {
  justify-content: space-between;
  align-items: center;
  background: grey;
  overflow: visible;
}

div.container--letter--image {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  align-content: center;
  padding: 25px;
  overflow: visible;
  background: orangered;
}

div.container--letter--image img.coach_bernadette-portrait {
  align-self: center;
  max-width: 250px;
  max-height: 350px;
  border: 3px solid var(--gray_card);
  border-radius: var(--border_radius);
}

div.container--letter--image span {
  margin: 5px 0px;
  font-weight: 600;
}

div.container--letter--image span.caption {
  align-self: center;
  font-size: 1.5rem;
  color: var(--brand_color_1);
}

div.container--letter--image div.container--letter--image--certifications {
  align-self: center;
  justify-content: space-evenly;
  margin: 10px 0px;
  border: 1px solid lightgray;
  border-radius: var(--border_radius);
  background: var(--white);
}

div.container--letter--image div.container--letter--image--certifications img {
  width: 85px;
  padding: 5px;
}

/* This is a flexed "spacer" div that "pushes" the Learn More & Connect links beneath
    Coach Bernadette's portrait to the bottom of the page. */

div#container--letter--image--flex_grow {
  display: flex;
  align-self: center;
  flex-grow: 1;
  background: transparent;
}

div.container--letter--image--learn_more {
  justify-content: center;
  align-content: center;
  align-self: center;
  width: 100%;
  margin-top: 25px;
  border-radius: var(--border_radius);
  padding: 35px;
  background: var(--gray_card);
}

div.container--letter--image--learn_more span {
  max-width: 35ch;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* #endregion */

/* #region Media Queries */

/* #endregion 626 */

@media screen and (min-width: 0px) and (max-width: 879px) {
  /* Adjust margin-bottom of "sticky" Coach Bernadette Image, Span, & Certifications to
      trim excessive white space on flex-wrap. */
  div.container--letter--image {
    margin-bottom: 20px;
  }

  div.container--letter--image--certifications {
    position: sticky;
  }

  div.container--letter--image--learn_more {
    position: sticky;
  }
}
