/* #region Links */

/* Override default link styling for Rave medallion. */

a.raves--sig_series_links {
  display: inline-block;
  color: var(--white) !important;
}

a.raves--sig_series_links:hover {
  text-decoration: none;
}

/* #endregion */

/* #region Rave Medallions */

.rave--medallion {
  z-index: 2;
  position: relative;
  top: -3em;
  text-align: center;
  align-self: center;
  border: 1px solid var(--black);
  border-radius: 50px;
  padding: 10px;
  background: var(--brand_color_1);
  font-weight: 700;
  color: var(--white);
  cursor: hand;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.rave--medallion::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: var(--brand_color_2);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -1;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.rave--medallion::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: var(--brand_color_1);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -2;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.rave--medallion:hover::before {
  opacity: 1;
  width: 116%;
}
.rave--medallion:hover::after {
  opacity: 1;
  width: 120%;
}

/* #endregion */

/* #region Rave Medallions -- Old ::before & ::after Implementation */
/* Will delete this later once I'm convinced that the new implementation plays well with others. */

/* div.rave--pwyf,
div.rave--sss,
div.rave--both_sig_series {
  position: relative;
}

div.rave--pwyf::before,
div.rave--sss::before,
div.rave--both_sig_series::before {
  position: absolute;
  text-align: center;
  align-self: center;
  top: -1em;
  padding: 10px;
  border: 1px solid black;
  border-radius: var(--border_radius);
  background: var(--brand_color_1);
  font-weight: 700;
  color: var(--white);
}

div.rave--sss::before {
  content: "Seek, Sort, & Select";
}

div.rave--pwyf::before {
  content: "Partner With Yourself First";
}

div.rave--both_sig_series::before {
  content: "Partner With Yourself First / Seek, Sort & Select";
} */

/* #endregion */

/* #region Gray Hero */

div.gray_card--raves {
  width: 85%;
  margin: 100px auto;
  padding: 50px 0px;
  background: var(--gray_card);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

div#raves_top--image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

div.gray_card--raves h1 {
  text-align: center;
}

div.gray_card--raves--image_and_text_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}

div.gray_card--raves--image_and_text_block p {
  align-self: center;
  max-width: 52ch;
  font-size: 18px;
}

div.gray_card--raves--image_and_text_block p:first-of-type {
  max-width: 43ch;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 700;
}

div.gray_card--raves--image_and_text_block img {
  width: 175px;
  width: auto;
  max-width: 350px;
  /* width: 100%; */
  min-height: 175px;
  height: auto;
  border-radius: 15px;
  align-self: center;
  /* box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark); */
  box-shadow: 2px 2px 2px var(--black);
}

/* #endregion */

/* #region Rave Cards */

div#raves_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 25px;
}

div.rave {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 3rem;
  padding: 25px;
  max-width: 55ch;
  min-width: 40ch;
  border-radius: var(--border_radius);
  box-shadow: 2px 2px 4px 1px var(--black);
  background: whitesmoke;
  transition: transform 500ms ease-in-out;
}

div.rave:hover {
  transform: scale(1.05);
}

div.rave p {
  font-size: 15px;
}

div.rave p:first-of-type {
  align-self: center;
  font-weight: 700;
  font-size: 18px;
}

div.rave span {
  margin: 0;
}

div.rave--text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-top: 10px;
}

div.rave--raver {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 10px;
}

div.rave--raver_name {
  margin-bottom: 0.25rem;
  font-size: 20px;
  font-weight: 700;
  font-family: "Pacifico", cursive;
}

div.rave--raver_details {
  font-size: 12px;
  font-weight: 700;
}

/* #endregion */

/* #region Support Queries */

@supports (gap: 3rem) {
  div#raves_container {
    gap: 3rem;
  }

  div.rave {
    margin: initial;
  }
}

/* #endregion */

/* #region Media Queries */

@media screen and (min-width: 0px) and (max-width: 575px) {
  div.rave {
    min-width: 35ch;
  }
}

/* #endregion */
