/* #region All Sections */

div.resources_container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}

div.resources_for_divorced_daters--introductory_text h2 {
  align-self: center;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

div.resources_for_divorced_daters--introductory_text p {
  align-self: center;
  max-width: 60ch;
  font-size: 18px;
}

div.resources_for_divorced_daters--introductory_text p:last-of-type {
  margin-bottom: 45px;
}

div.page_hero {
  justify-content: center;
  align-items: center;
}

div.page_hero p {
  max-width: 60ch;
  font-size: 18px;
}

/* #endregion */

/* #region Resources Main Page (Articles, Book Recs, &tc.) */

/* #region Articles by Coach Bernadette */

section#resources_for_divorced_daters--articles
  div.articles_outermost_container {
  max-width: 45%;
  min-width: 400px;
  margin-top: 25px;
  border: 2px solid black;
  border-radius: var(--border_radius);
  padding: 25px;
  background-color: var(--white);
  transition: all ease-in 0.5s;
}

section#resources_for_divorced_daters--articles
  div.articles_outermost_container:hover {
  background: var(--brand_color_1);
}

section#resources_for_divorced_daters--articles
  div.articles_outermost_container:hover
  h3,
section#resources_for_divorced_daters--articles
  div.articles_outermost_container:hover
  p.article_blurb {
  color: var(--white);
}

section#resources_for_divorced_daters--articles
  div.articles_outermost_container:hover
  img {
  opacity: 1;
}

section#resources_for_divorced_daters--articles
  div.articles_outermost_container:hover
  p.article_blurb {
  font-size: 17px;
}

section#resources_for_divorced_daters--articles
  div.articles_outermost_container:hover
  button.article_button {
  box-shadow: 5px 5px 0px var(--brand_color_3);
}

section#resources_for_divorced_daters--articles h1 {
  text-align: center;
  margin-bottom: 25px;
  color: var(--black);
}

section#resources_for_divorced_daters--articles h2 {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 45px;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: var(--black);
}

section#resources_for_divorced_daters--articles h3 {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 45px;
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: var(--black);
  transition: all ease-in 0.5s;
}

section#resources_for_divorced_daters--articles
  div.image_and_article_blurb_flex_container {
  flex-grow: 1;
  justify-content: space-around;
  width: 100%;
}

section#resources_for_divorced_daters--articles
  div.article_blurb_flex_container {
  flex-grow: 1;
  justify-content: space-evenly;
  align-content: space-around;
}

section#resources_for_divorced_daters--articles img.article_image {
  max-width: 150px;
  max-width: 250px;
  max-height: 150px;
  max-height: 250px;
  margin-bottom: 25px;
  opacity: 0.75;
  transition: opacity ease-in 0.5s;
}

section#resources_for_divorced_daters--articles p.article_blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  flex-grow: 1;
  /* max-width: 35ch; */
  /* Entered this width clamp trick 4/16/21 ... check back later to see if it works! 
      If it doesn't, restore max-width 35ch. */
  width: clamp(35ch, 50%, 75ch);
  font-size: 16px;
  transition: all ease-in 0.5s;
}

section#resources_for_divorced_daters--articles a {
  align-self: center;
  width: 65%;
}

section#resources_for_divorced_daters--articles button.article_button {
  cursor: pointer;
  align-self: center;
  width: 100%;
  height: 45px;
  margin-top: 25px;
  border-radius: var(--border_radius);
  font-family: var(--font_family_1);
  font-size: 15px;
  font-weight: 700;
  color: var(--white);
  background: var(--brand_color_2);
  box-shadow: 5px 5px 0px var(--brand_color_1);
  transition: all ease-in-out 0.5s;
}

section#resources_for_divorced_daters--articles button.article_button:hover {
  transform: translateY(-10px);
}

section#resources_for_divorced_daters--articles button.article_button i {
  margin-right: 5px;
  color: var(--white);
}

/* #endregion */

/* #region Book Recommendations */

section#resources_for_divorced_daters--book_recommendations
  div.flex_container--basic_column,
section#resources_for_divorced_daters--book_recommendations
  div.flex_container--basic_row {
  width: 90%;
}

section#resources_for_divorced_daters--book_recommendations img {
  align-self: center;
  width: 200px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.container--book_recommendation--text_and_image {
  justify-content: space-evenly;
  border: 1px solid black;
  background: var(--white);
  transition: all ease-in 0.5s;
}

div.container--book_recommendation--text_and_image:hover {
  background: var(--brand_color_1);
}

div.container--book_recommendation--text_and_image:hover h3,
div.container--book_recommendation--text_and_image:hover p:first-of-type,
div.container--book_recommendation--text_and_image:hover
  p.book_recommendation--text--blurb {
  color: var(--white);
}

div.container--book_recommendation--text_and_image:hover
  p.book_recommendation--text--blurb {
  font-size: 17px;
}

div.container--book_recommendation--text {
  max-width: 80ch;
}

div.container--book_recommendation--text p.purchase_link {
  width: auto;
}

div.container--book_recommendation--text p.purchase_link:hover {
  background: var(--gray_card);
  transition: all ease-in 0.5s;
}

div.container--book_recommendation--text a:active,
div.container--book_recommendation--text a:link {
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  transition: all ease-in 0.5s;
}

div.container--book_recommendation--text a:hover {
  color: var(--black);
}

div.container--book_recommendation--text a:visited {
  color: var(--brand_color_3);
}

section#resources_for_divorced_daters--book_recommendations h2 {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 45px;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: var(--black);
}

div.container--book_recommendation--text h3 {
  align-self: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
  color: var(--black);
  transition: all ease-in 0.5s;
}

div.container--book_recommendation--text p {
  align-self: center;
  width: 80%;
  font-size: 16px;
}

div.container--book_recommendation--text p:first-of-type {
  align-self: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  transition: all ease-in 0.5s;
}

div.container--book_recommendation--text p:nth-of-type(2) {
  align-self: center;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 0;
  border: 2px solid var(--brand_color_3);
  border-radius: var(--border_radius);
  padding: 8px;
  background: var(--brand_color_1);
}

div.container--book_recommendation--text p:last-of-type {
  margin-bottom: 25px;
}

p.book_recommendation--text--blurb {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 55ch;
  transition: all ease-in 0.5s;
}

/* #endregion */

/* #region Videos */

section#resources_for_divorced_daters--videos div.flex_container--basic_column,
section#resources_for_divorced_daters--videos div.flex_container--basic_row {
  width: 90%;
}

section#resources_for_divorced_daters--videos h2 {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 45px;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: var(--black);
}

section#resources_for_divorced_daters--videos iframe {
  align-self: center;
  width: 350px;
  height: 250px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid var(--white);
  border-radius: var(--border_radius);
}

div.container--video_recommendation--text_and_image {
  justify-content: space-evenly;
  border: 1px solid black;
  background: var(--white);
  transition: all ease-in 0.5s;
}

div.container--video_recommendation--text_and_image:hover {
  background: var(--brand_color_1);
}

div.container--video_recommendation--text_and_image:hover h3,
div.container--video_recommendation--text_and_image:hover p:first-of-type {
  color: var(--white);
}

div.container--video_recommendation--text_and_image:hover
  p.video_recommendation--text--blurb {
  font-size: 17px;
  color: var(--white);
}

div.container--video_recommendation--text {
  max-width: 50ch;
}

div.container--video_recommendation--text h3 {
  align-self: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
  transition: all ease-in 0.5s;
}

div.container--video_recommendation--text p {
  align-self: center;
  flex-grow: 1;
  max-width: 60ch;
  max-width: 55ch;
  font-size: 16px;
}

div.container--video_recommendation--text p:first-of-type {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  transition: all ease-in 0.5s;
}

div.container--video_recommendation--text p.video_recommendation--text--blurb {
  transition: all ease-in 0.5s;
}

div.container--video_recommendation--text p:last-of-type {
  margin-bottom: 25px;
}

/* #endregion */

/* #endregion */

/* #region Articles By Coach Bernadette -- Individual Article Template */

div#article_and_contact_container {
  justify-content: space-evenly;
  gap: 15px;
}

/* #region Article Container */

div#article_container {
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 65%;
  margin-top: -45px;
  border: 3px solid var(--black);
  padding: 25px;
  background: var(--white);
}

/* #region Article Full Text */

div#article_container h1,
div#article_container h2,
div#article_container h3 {
  text-align: center;
}

div#article_title_block {
  display: flex;
  justify-content: center;
  background: var(--brand_color_3);
}

div#article_title_block h1 {
  max-width: 35ch;
  /* Use margin-top: & margin-bottom: instead of margin: to override
      styling in main.css */
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 75px;
  color: var(--white);
  line-height: 1.5;
}

div#article_container img:first-of-type {
  align-self: center;
  max-width: 350px;
  max-height: 250px;
  margin: 25px 0px;
}

div#article_container p:first-of-type {
  text-align: center;
  max-width: 40ch;
  font-size: 22px;
  font-weight: 700;
}

div#article_container p {
  max-width: 55ch;
  font-size: 18px;
  color: var(--black);
}

div#article_container p.empowering_ways--numbers {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

div#article_container p:last-of-type {
  margin-bottom: 45px;
}

div#article_container ul {
  max-width: 45ch;
  padding: 12px 0px;
  font-size: 18px;
}

div#article_container ul li {
  list-style: none;
  list-style-position: inside;
  padding: 0 20px 5px;
  padding-bottom: 10px;
  background: url(/images/icons/li_icon-heart-1.svg) no-repeat scroll 0 0
    transparent;
  background-size: 12px 12px;
  background-position-y: 6px;
  color: #dd137b;
}

/* #region# Article Container -- Bubble Quote CSS */
/* GRMA Jeremy Caris: https://codepen.io/jeremycaris/pen/Lzkeq */

.bubble_quote-1 {
  max-width: 65%;
  max-width: 90%;
  margin: 25px 0px;
  padding-right: 10px;
  border-radius: var(--border_radius);
  background: var(--brand_color_1);
}

.bubble_quote-2 blockquote {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  padding: 20px 5px;
  background: var(--brand_color_1);
  border-radius: var(--border_radius);
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: var(--white);
  transition: all ease-in-out 0.5s;
}

.bubble_quote-2 blockquote .bubble_quote--text {
  padding: 20px 20px;
  font-size: 25px;
}

.bubble_quote-2 blockquote span.bubble_quote--quotation_marks {
  margin: 0;
  /* Elimiante "excess" padding in quotation marks so they can be 
      properly positioned using flexbox." */
  line-height: 0;
  font-size: 80px;
  transition: all 0.25s ease-in-out;
}
.quotation_marks--left {
  padding-right: 20px;
  align-self: flex-start;
}

.quotation_marks--right {
  padding-left: 20px;
  align-self: flex-end;
}

.bubble_quote-2 blockquote:hover {
  margin: 35px 0px;
  transform: scale(1.25);
  background: black;
}

.bubble_quote-2 blockquote:hover span.quotation_marks--left,
.bubble_quote-2 blockquote:hover span.quotation_marks--right {
  color: transparent;
}

.bubble_quote-2 div {
  display: none;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--brand_color_1);
  margin: 0 0 0 60px;
  margin: 0 0 0 500px;
}

.bubble_quote-2 p.quote_attribution {
  display: none;
  text-align: right;
  margin: 8px 0 0 20px;
  font-size: 18px !important;
}

/* #endregion */

div#article_container span#article_valediction {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  line-height: 1.4;
}

div#article_container img#coach_bernadette_signature {
  align-self: center;
  max-width: 350px;
  max-height: 100px;
  margin: 25px 0px;
}

/* #endregion */

/* #region Coach Berandette Bio Container */

div#coach_bernadette_bio_container {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 3px solid var(--brand_color_1);
  background: var(--brand_color_3);
}

div#article_container div#coach_bernadette_bio_container img {
  border-radius: var(--border_radius);
  border: 1px solid black;
}

div#article_container div#coach_bernadette_bio_container-text {
  justify-self: center;
  width: 70%;
  max-width: 45ch;
  padding: 15px;
}

div#article_container div#coach_bernadette_bio_container-text p:first-of-type {
  font-size: 18px;
  font-weight: 600;
}

div#article_container div#coach_bernadette_bio_container-text p {
  font-size: 15px;
  font-weight: initial;
}

/* #endregion */

/* #region Article-specific Styles & IDs */

/* #region  "Random dating vs. Dating Deliberately" */

h2#random_dating_sub_heading {
  display: inline-block;
  max-width: 35ch;
  text-align: center;
  font-size: 2rem;
}

/* #endregion */

/* #endregion */

/* #endregion */

/* #region Contact Container */

div#contact_container {
  position: sticky;
  top: 90px;
  min-width: 25%;
  max-width: 50ch;
  height: 0%;
  margin-top: 45px;
  margin-bottom: 45px;
  border-radius: var(--border_radius);
  background: #efefef;
}

div#contact_container p {
  max-width: 45ch;
}

div#contact_container div.flex_container--basic_column:first-of-type {
  margin-top: 45px;
}

div#contact_container div.flex_container--basic_column {
  align-self: center;
  border-bottom: 1px dotted var(--black);
}

div#contact_container div.flex_container--basic_column:last-of-type {
  border-bottom: none;
}

div#contact_container h2 {
  align-self: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

div#contact_container p {
  max-width: 45ch;
  font-weight: 600;
}

div#contact_container--upcoming_events,
div#contact_container--social_media,
div#contact_container--meet_cute,
div#contact_container--lets_connect {
  align-items: center;
  margin-bottom: 5vh;
}

div#contact_container--upcoming_events p:last-of-type,
div#contact_container--social_media p:last-of-type,
div#contact_container--meet_cute p:last-of-type,
div#contact_container--lets_connect p:last-of-type {
  margin-bottom: 25px;
}

div#contact_container div#contact_container--upcoming_events p {
}

div#contact_container
  div#contact_container--upcoming_events
  div.flex_container--basic_row {
  justify-content: space-around;
  /* Hacky solution to width: 100% not working? */
  /* max-width: 25vw; */
}

div#contact_container div#contact_container--meet_cute img {
  width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* #endregion */

/* #endregion */

/* #region Inspirational Graphics Gallery */

/* SUPER Hacky Spacer ... fix this later! */

div.spacer-top {
  margin-top: 50px;
}

div.inspirational_graphics_gallery--thumbnails {
  display: grid;
  gap: 3vw;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
  width: 95%;
  margin: 0 auto;
  padding: 25px;
  /* grid-template-rows: repeat(auto-fill, minmax(350px 1fr)); */
}

div.inspirational_graphic--thumbnail {
  font-family: initial;
  padding: 5px 10px;
}

div.inspirational_graphic--thumbnail img {
  width: 100%;
  box-shadow: 5px 5px 5px var(--black);
  transition: transform 0.5s ease-in-out;
}

div.inspirational_graphic--thumbnail:nth-child(odd) img {
  transform: rotate(-5deg);
}

div.inspirational_graphic--thumbnail:nth-child(even) img {
  transform: rotate(5deg);
}

div.inspirational_graphic--thumbnail img:hover {
  transform: scale(1.25);
}

a.button {
}

a.close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--brand_color_1);
  text-decoration: none;
  transition: transform ease-in-out 0.25s;
}

a.close:hover {
  transform: scale(1.5);
}

a.close:after {
  content: "X";
  color: white;
}

div.inspirational_graphics_gallery--larger {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

div.inspirational_graphic--larger {
  position: fixed;
  top: 0;
  left: 0;
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1, 0);
  transition: transform ease-in-out 250ms;
  z-index: 999;
}

div.inspirational_graphic--larger:target {
  /* display: flex; */
  transform: scale(1, 1);
}

div.inspirational_graphic--larger--content {
  position: relative;
  max-width: 55vw;
  padding: 15px;
  background: var(--gray_card);
  box-shadow: 2px 2px 2px var(--black);
}

div.inspirational_graphic--larger img {
  max-width: 100%;
}

div#container--inspirational_graphics--suggestions {
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

div#container--inspirational_graphics--suggestions img {
  margin-bottom: 25px;
  background: var(--brand_color_2);
}

div#container--inspirational_graphics--suggestions .gray_card--text_block {
  margin: 0px;
}

div#container--form--inspirational_graphics_suggestions {
  justify-content: center;
  width: 100vw;
  margin: 100px 0px;
}

iframe#form--inspirational_graphics_suggestions {
  width: 450px;
  height: 696px;
}

/* SUPER Hacky Spacer ... fix this later! */

div.spacer-bottom {
  margin-bottom: 50px;
}

/* #endregion */

/* #region Dating Tips */

/* SUPER Hacky Spacer ... fix this later! */

div.spacer-top {
  margin-top: 50px;
}

div.dating_tips--thumbnails {
  display: grid;
  gap: 3vw;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
  width: 95%;
  margin: 0 auto;
  /* grid-template-rows: repeat(auto-fill, minmax(350px 1fr)); */
}

div.dating_tip--thumbnail {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--black);
  padding: 5px;
  box-shadow: 2px 2px 2px var(--brand_color_2);
  background: var(--gray_card);
  transition: all 0.5s ease-in-out;
}

div.dating_tip--thumbnail:hover {
  transform: scale(1.15);
}

div.dating_tip--thumbnail a {
  text-decoration: none;
}

div.dating_tip--thumbnail--text h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

div.dating_tip--thumbnail--text i {
  font-size: 50px;
}

div.dating_tip--thumbnail img {
  margin-top: 25px;
  width: 100%;
  height: 50%;
}

div#container--dating_tips--suggestions {
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

div#container--dating_tips--suggestions img {
  margin-bottom: 25px;
  background: var(--brand_color_2);
}

div#container--dating_tips--suggestions .gray_card--text_block {
  margin: 0px;
}

/* div.dating_tip--thumbnail:nth-child(odd) img {
  transform: rotate(-5deg);
}

div.dating_tip--thumbnail:nth-child(even) img {
  transform: rotate(5deg);
} */

a.button {
}

a.close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--black);
  background: var(--brand_color_1);
  text-decoration: none;
  transition: transform ease-in-out 0.25s;
}

a.close:hover {
  transform: scale(1.5);
}

a.close:after {
  content: "X";
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

div.dating_tips--larger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-height: 25vh;
  max-height: auto;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px dotted black;
  background: var(--gray_card);
}

div.dating_tips--larger::after {
  position: absolute;
  content: "Click on a card!";
  font-family: "Pacifico", cursive;
  font-size: 35px;
}

div.dating_tip--larger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 25vh;
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1, 0);
  /* transition: all ease-in-out 250ms; */
  z-index: 999;
}

div.dating_tip--larger:target {
  display: flex;
  width: 100%;
  height: auto;
  transform: scale(1, 1);
  /* transition: all ease-in-out 250ms; */
  /* display: flex;
  transform: scale(1, 1); */
}

div.dating_tip--larger--content {
  /* position: relative; */
  /* max-width: 55vw; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  padding: 15px;
  background: var(--gray_card);
  box-shadow: 2px 2px 2px var(--black);
}

div.dating_tip--larger h2 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}

div.dating_tip--larger p {
  max-width: 60ch;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

div.dating_tip--larger ul {
  text-decoration: none;
  margin: 10;
}

div.dating_tip--larger li {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 40px;
  font-size: 15px;
  font-weight: 700;
}

div.dating_tip--larger li:before {
  position: absolute;
  left: -40px;
  content: "💑";
  font-size: 20px;
}

div.dating_tip--larger img {
  max-width: 100%;
}

div#container--form--dating_tips_suggestions {
  justify-content: center;
  width: 100vw;
  margin: 100px 0px;
}

iframe#form--dating_tips_suggestions {
  width: 450px;
  height: 455px;
}

/* #endregion */

/* #region SUPER Hacky Spacer ... fix this later! */

div.spacer-bottom {
  margin-bottom: 50px;
}

/* #endregion */

/* #region Media Queries */

/* #region Media Queries - Smartphones */

@media screen and (min-width: 0px) and (max-width: 320px) {
  div#article_container img:first-of-type {
    display: none;
  }

  .bubble_quote-1 {
    align-self: initial;
  }

  .bubble_quote-2 blockquote {
    font-size: 14px;
  }

  .bubble_quote-2 blockquote span.bubble_quote--quotation_marks {
    font-size: 18px;
  }

  .bubble_quote-2 blockquote:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  div.inspirational_graphic--thumbnail:nth-child(odd) img,
  div.inspirational_graphic--thumbnail:nth-child(even) img {
    transform: rotate(0deg);
  }

  div#article_title_block h1 {
    font-size: 35px;
  }

  div#article_container h2 {
    align-self: center;
  }

  h2#random_dating_sub_heading {
    font-size: 1.75rem;
  }

  div#article_container {
    align-items: flex-start;
    max-width: 95%;
    padding: 25px;
  }

  div#article_container img:first-of-type {
    max-width: 250px;
  }

  .bubble_quote-1 {
    max-width: 95%;
  }

  .bubble_quote-2 blockquote span.bubble_quote--text {
    font-size: 15px;
  }

  .bubble_quote-2 blockquote span.bubble_quote--quotation_marks {
    font-size: 40px;
  }

  div#article_container img#coach_bernadette_signature {
    max-width: 250px;
  }

  div#contact_container {
    display: none;
  }
}

/* #endregion */

/* #region Media Queries - Tablets */

@media screen and (min-width: 576px) and (max-width: 1024px) {
}

/* #region Media Queries - Smartphones & Tablets */

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .bubble_quote-1 {
    align-self: center;
    width: 95%;
  }

  .bubble_quote-2 blockquote span.bubble_quote--text {
    font-size: 20px;
  }

  .bubble_quote-2 blockquote span.bubble_quote--quotation_marks {
    font-size: 60px;
  }

  .bubble_quote-2 blockquote:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 0px) and (max-width: 1185px) {
  div#article_and_contact_container {
    flex-direction: column;
  }

  div#contact_container {
    align-self: center;
  }

  div#contact_container--upcoming_events,
  div#contact_container--social_media {
    text-align: center;
  }
}
/* #endregion */

/* #endregion */

/* #endregion */
