/* This is the CSS Grid implementation I was interminably fiddling with 
    before opting to go with display: flex on all li "slides". */

li.slide {
  display: grid;
  grid-template-columns: 35px repeat(4, 1fr) 35px;
  grid-template-rows: 0.25fr 1fr;
  scroll-snap-align: center;
  border: 2px dotted blue;
}

/* My CSS */

/* All Slides */

li.slide span.slide--number {
  grid-row: 1;
  grid-column: 6;
  color: var(--brand_color_1);
  font-size: 20px;
  font-weight: 800;
}

li.slide p {
  max-width: 60ch;
  font-size: 18px;
}

li.slide span.slide--bio_quote {
  grid-row: 1;
  grid-column: 1/4;
  font-size: 25px;
  font-weight: 800;
}

/* Slide 1 */

li.slide iframe {
  grid-row: 2;
  grid-column: 2/3;
  border-radius: var(--border_radius);
}

li.slide div.slide--bio_text {
  grid-row: 2;
  grid-column: 3/6;
  justify-self: end;
}

li.slide img.bio_photo {
  grid-row: 2;
  grid-column: 2/3;
  width: 500px;
  align-self: center;
  border-radius: var(--border_radius);
}
