/* #region All Cards */

div.certifications_tree_gif_card .gray_card--text_block,
div.mixed_feelings_card .gray_card--text_block,
div.certifications_research_credentials_card .gray_card--text_block,
div.icf_card .gray_card--text_block,
div.coach_u_card .gray_card--text_block,
div.interview_intro_card .gray_card--text_block,
div.interview_card .gray_card--text_block,
div.reach_out_card .gray_card--text_block {
  max-width: 100%;
  padding: 15px;
}

/* #endregion */

/* #region Coaching Has Grown Exponentially Over The Years */

div.certifications_tree_gif_card,
div.certifications_research_credentials_card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* #endregion */

/* #region ICF & Coach U Coaching Certifications */

div.coaching_certifications_image_and_text img#icf_logo {
  width: 380px;
}

div.coaching_certifications_image_and_text img#coach_u_logo {
  align-self: center;
  width: auto;
  height: 140px;
}

div.coaching_certifications_image_and_text ul#mcc_requirements::after {
  position: absolute;
  content: "MCC Requirements";
  bottom: -15px;
  left: 33%;
  /* To do: Add left: 25% to responsive (mobile) view. */
  /* left: 25%; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: var(--border_radius);
  background: var(--brand_color_1);
  color: white;
}

div.coaching_certifications_image_and_text ul#coachu_requirements::after {
  position: absolute;
  content: "Certified Coach Requirements";
  bottom: -15px;
  left: 25%;
  /* To do: Add left: 25% to responsive (mobile) view. */
  /* left: 25%; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: var(--border_radius);
  background: var(--brand_color_1);
  color: white;
}

div.coaching_certifications_image_and_text ul {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: initial;
  max-width: 60ch;
  margin: 30px 0px;
  padding: 30px;
  border: 1px dotted black;
  border-radius: var(--border_radius);
  background: var(--white);
  font-size: 15px;
  font-weight: 700;
  list-style: square;
}

div.coaching_certifications_image_and_text ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.certifications_tree_gif_card img,
div.certifications_research_credentials_card img {
  height: 300px;
  width: auto;
}

div.coaching_certifications_image_and_text img#icf_logo,
div.coaching_certifications_image_and_text img#coach_u_logo {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* #endregion */

/* #region Coaching Interview Dropdowns */

div.coaching_interview details {
  display: flex;
  flex-direction: column;
}

div.coaching_interview ul {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 60ch;
  /* Having trouble getting flex box to center these Dropdown uls ...
      Falling back on the old "margin *px auto" workhorse. */
  margin: 30px auto;
  padding: 30px;
  border: 1px dotted black;
  border-radius: var(--border_radius);
  background: var(--white);
  font-size: 15px;
  font-weight: 700;
  list-style: square;
}

div.coaching_interview ul,
div.coaching_interview ul ul {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

div.coaching_interview ul ul {
  margin-top: initial;
  margin-bottom: initial;
  padding: 10px;
  border: none;
  border: none;
  list-style: circle;
}

div.coaching_interview li {
  margin-top: 8px;
  margin-bottom: 5px;
}

div.coaching_interview ul ul li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.95rem;
  font-weight: 600;
}

details.coaching_interview--questions_dropdown {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--gray);
  cursor: pointer;
}

details.coaching_interview--questions_dropdown[open] ul {
  opacity: 100;
}

details.coaching_interview--questions_dropdown summary {
  text-align: center;
  border-radius: var(--border_radius);
  padding: 20px;
  background-color: var(--brand_color_1);
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}

details.coaching_interview--questions_dropdown,
button#schedule_discovery_session {
  width: 55ch !important;
}

/* #endregion */

/* #region Citations & Further Reading */

#citations_container {
  justify-content: space-evenly;
}

.citations {
  border: 1px dotted var(--black);
  border-radius: var(--border_radius);
  background: var(--white);
  width: 40%;
}

.citations h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.75rem;
}

.citations p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
  color: var(--black);
}

/* #endregion */

/* #region Responsive Utiltiy Classes */

.responsive--hide_mobile {
  display: initial;
}

.responsive--show_mobile {
  display: none;
}

/* #endregion */

/* #region Media Queries */

@media screen and (min-width: 0px) and (max-width: 472px) {
  div.coaching_certifications_image_and_text ul#coachu_requirements::after {
    bottom: -15px;
    left: 15%;
  }
}

@media screen and (min-width: 0px) and (max-width: 560px) {
  div.coaching_certifications_image_and_text img#icf_logo {
    width: 280px;
  }
}

@media screen and (min-width: 0px) and (max-width: 921px) {
  #citations_container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .citations {
    width: 65%;
  }
}

@media screen and (min-width: 0px) and (max-width: 990px) {
  .responsive--hide_mobile {
    display: none;
  }

  .responsive--show_mobile {
    display: initial;
  }
  div.coaching_certifications_image_and_text ul#mcc_requirements::after {
    bottom: -15px;
    left: 28%;
  }
}

@media screen and (min-width: 0px) and (max-width: 735px) {
  details.coaching_interview--questions_dropdown,
  button#schedule_discovery_session {
    width: initial;
    max-width: 95%;
  }
}

@media screen and (min-width: 473px) and (max-width: 548px) {
  div.coaching_certifications_image_and_text ul#coachu_requirements::after {
    bottom: -15px;
    left: 19%;
  }
}

@media screen and (min-width: 549px) and (max-width: 565px) {
  div.coaching_certifications_image_and_text ul#coachu_requirements::after {
    bottom: -15px;
    left: 22%;
  }
}

/* #endregion */
