/* #region Work With Us "Globals" */

ul.notecard {
  text-align: initial;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 60ch;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px dotted black;
  border-radius: var(--border_radius);
  align-self: center;
  font-size: 18px;
  /* font-weight: 700; */
  background: var(--white);
  list-style: square;
  background: var(--white);
}

ul.notecard li {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* #endregion */

/* #region Schedule A Discovery Session */

div#what_is_a_discovery_session-1 {
  justify-content: space-evenly;
  align-items: center;
}

div#what_is_a_discovery_session-1 p {
  text-align: center;
  max-width: 35ch;
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
}

div#what_is_a_discovery_session-1 img {
  max-width: 400px;
  max-height: 350px;
}

div#what_is_a_discovery_session--2_and_3_container {
  gap: 25px;
  justify-content: space-around;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0px 20px;
}

div#what_is_a_discovery_session-2,
div#what_is_a_discovery_session-3 {
  max-width: 35%;
  min-width: 330px;
}

div#what_is_a_discovery_session-2 p:first-of-type,
div#what_is_a_discovery_session-3 p:first-of-type {
  text-align: center;
  margin-bottom: 25px;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  color: var(--black);
  line-height: 1.4;
}

div#what_is_a_discovery_session-2 p,
div#what_is_a_discovery_session-3 p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

div#what_is_a_discovery_session-2 {
  transform: rotate(-3.25deg);
}

div#what_is_a_discovery_session-3 {
  transform: rotate(3.25deg);
}

div#what_is_a_discovery_session-3 ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 18px;
  color: var(--black);
  font-weight: 600;
}

div#what_is_a_discovery_session-3 ul li {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

div#what_is_a_discovery_session-3 ul li span {
  max-width: 30ch;
}

div#what_is_a_discovery_session-3 ul li i {
  align-self: center;
  padding-right: 15px;
  font-size: 15px;
  color: var(--white);
}

/* div#what_is_a_discovery_session-3 ul span {
  display: inline-block;
} */

div#schedule_discovery_session--container {
  position: relative;
}

div#schedule_discovery_session--container p {
  max-width: 30ch;
}

div#schedule_discovery_session--container p:nth-of-type(2) {
  text-align: center;
  max-width: 55ch;
}

img#discovery_session_bernadette {
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

button#schedule_discovery_session {
  height: 50px;
  width: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: var(--border_radius);
  background: var(--brand_color_1);
}

button#schedule_discovery_session span {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--white);
}

div#discovery_session--personal_info--container {
  justify-content: space-evenly;
  align-items: center;
}

div#discovery_session--personal_info_1--container {
  width: 55%;
}

div#discovery_session--personal_info_2--container {
  justify-content: space-evenly;
  align-items: center;
  min-width: 450px;
  max-height: 250px;
  margin-right: 25px;
  border-radius: var(--border_radius);
  background: var(--brand_color_1);
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
}

div.personal_info_2--personal_info--icons_and_text {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

div.personal_info_2--personal_info--icons_and_text span {
  display: inline-block;
  width: 25ch;
}

div.personal_info_2--personal_info--icons_and_text {
  margin-top: 20px;
}

div.personal_info_2--personal_info--icons_and_text:last-of-type {
  margin-bottom: 20px;
}

div.personal_info_2--personal_info--icons_and_text i {
  display: inline-block;
  color: var(--white);
}

/* #endregion */

/* #region For Content Creators */

div#content_creators_intro {
  justify-content: space-evenly;
  align-items: center;
}

div#content_creators_intro p {
  max-width: 35ch;
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
}

div#content_creators_intro img {
  max-width: 400px;
  max-height: 350px;
}

p#p--bulleted_content_creators--top {
  margin-bottom: -15px;
  font-weight: 700;
  color: var(--black);
}

p#p--bulleted_content_creators--bottom {
  margin-top: -15px;
  font-weight: 700;
  color: var(--black);
}

div#for_content_creators--wed_love_to_help_you {
  justify-content: center;
  align-content: center;
}

div#content_creation_buckets {
  justify-content: center;
  text-align: center;
  padding: 55px;
}

span.nav--local_hyperlink {
  margin-top: 15px;
  border: 1px solid var(--black);
  border-radius: var(--border_radius);
  padding: 10px;
  background: var(--brand_color_1);
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  transition: transform 0.25s ease-in-out;
}

span.nav--local_hyperlink:hover {
  transform: scale(1.1);
}

span#nav--local_hyperlink--content_collab_call {
  font-size: 15px;
  background: var(--brand_color_2);
}

span.nav--local_hyperlink a {
  color: var(--white);
  text-decoration: none;
}

span.nav--local_hyperlink a:link {
  color: var(--white);
  text-decoration: none;
}

span.nav--local_hyperlink a:visited {
  color: var(--brand_color_3);
}

span.nav--local_hyperlink#nav--local_hyperlink--content_collab_call a:visited {
  color: var(--brand_color_1);
}

span.nav--local_hyperlink a:hover,
span.nav--local_hyperlink a:focus {
  color: var(--white);
}

span.nav--local_hyperlink a:active {
  color: var(--white);
  text-decoration: none;
}

div.container--card--content_list {
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

div.card--content_list {
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-right: 3px;
}

div.card--content_list p:first-of-type {
  text-align: center;
  max-width: 20ch;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  color: var(--black);
}

div.card--content_list p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

div.card--content_list ul {
  list-style: none;
  padding-top: 20px;
  font-size: 18px;
  color: var(--black);
  font-weight: 600;
}

div.card--content_list ul li {
  display: flex;
  padding-top: 10px;
}

div.card--content_list ul i {
  align-self: center;
  padding-right: 10px;
  font-size: 15px;
  color: var(--white);
}

div#container--book_discussion_flyers {
  /* display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

img.book_discussion_flyer {
  max-width: 50%;
  max-height: 592px;
  border: 1px solid var(--black);
  box-shadow: 1px 1px 1px 1px var(--black);
}

a.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.button::after {
  position: absolute;
  content: "Click To Expand Image";
  bottom: -20px;
  color: var(--black);
  font-size: 12px;
  font-weight: 300;
}

a.close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--brand_color_1);
  text-decoration: none;
  transition: transform ease-in-out 0.25s;
}

a.close:hover {
  transform: scale(1.5);
}

a.close:after {
  content: "X";
  color: white;
}

div.book_discussion_gallery--larger {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

div.book_discussion--larger {
  position: fixed;
  top: 0;
  left: 0;
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1, 0);
  transition: transform ease-in-out 250ms;
  z-index: 999;
}

div.book_discussion--larger:target {
  /* display: flex; */
  transform: scale(1, 1);
}

div.book_discussion--larger--content {
  position: relative;
  max-width: 55vw;
  padding: 15px;
  background: var(--gray_card);
  box-shadow: 2px 2px 2px var(--black);
}

div.book_discussion--larger img {
  max-width: 100%;
  width: 450px;
  height: 450x;
}

/* #endregion */

/* #region Events */

div#events_on_hold {
  justify-content: space-around;
  align-items: center;
}

div#events_on_hold p {
  max-width: 50ch;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

div#events_on_hold p:first-of-type {
  max-width: 40ch;
  font-size: 22px;
  font-weight: 700;
}

/* #endregion */

/* #region Media Queries */

@media screen and (min-width: 0px) and (max-width: 575px) {
  div#what_is_a_discovery_session-1 img {
    width: 100%;
  }

  div#what_is_a_discovery_session-1 p {
    font-size: 20px;
  }

  div#what_is_a_discovery_session--2_and_3_container {
    width: initial;
    min-width: 100%;
    padding: 0 5px;
  }

  div#what_is_a_discovery_session-2,
  div#what_is_a_discovery_session-3 {
    max-width: initial;
    min-width: 100%;
  }

  div#what_is_a_discovery_session-2 p:first-of-type,
  div#what_is_a_discovery_session-3 p:first-of-type {
    max-width: initial;
    font-size: 20px;
  }

  div#what_is_a_discovery_session-2,
  div#what_is_a_discovery_session-3 {
    transform: initial;
  }

  /* div#what_is_a_discovery_session-2,
  div#what_is_a_discovery_session-3 {
    max-width: 150px;
  } */

  div#schedule_discovery_session--container p:nth-of-type(2) {
    max-width: 25ch;
  }

  div#discovery_session--personal_info_1--container {
    width: 100%;
  }

  div#discovery_session--personal_info_2--container {
    min-width: initial;
    margin-left: 5px;
    margin-right: 5px;
  }

  div.book_discussion--larger--content {
    position: relative;
    max-width: 90vw;
    padding: 15px;
    background: var(--gray_card);
    box-shadow: 2px 2px 2px var(--black);
  }

  div.book_discussion--larger img {
    height: 80vh;
  }
}

@media screen and (min-width: 0px) and (max-width: 715px) {
  button#schedule_discovery_session {
    width: 80%;
  }
}

@media screen and (min-width: 0px) and (max-width: 999px) {
  div#discovery_session--personal_info_1--container {
    width: 100%;
  }

  @media screen and (min-width: 853px) and (max-width: 940px) {
    div#what_is_a_discovery_session-2,
    div#what_is_a_discovery_session-3 {
      transform: initial;
    }
  }
}

/* #endregion */
