/* #region ----- 🤖🤖🤖 COMPONENTS 🤖🤖🤖 ---  FLEX BOXES */

.flex_container--basic_row {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 20px;
  padding: 20px;
}

.flex_container--basic_column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 50px 0px;
  padding: 20px;
}

.flex_container--change_flex_direction--row {
  flex-direction: row;
}

.flex_container--change_flex_direction--column {
  flex-direction: column;
}

.fc--reset_spacing {
  margin: 0px;
  padding: 0px;
}

.fc--jc-space_around {
  justify-content: space-around;
}

.fc--jc-space_between {
  justify-content: space-between;
}

.fc--align_items_center {
  align-items: center;
}

/* #endregion */

/* #region ----- 🤖🤖🤖 COMPONENTS 🤖🤖🤖 --- GRAY HERO */

.gray_hero {
  width: 100vw;
  margin: var(--gray_hero--top_and_bottom_margin) 0;
  padding: 50px 0px;
  padding: var(--gray_hero--top_and_bottom_padding)
    var(--gray_hero--left_and_right_padding);
  background: var(--gray_hero--background);
}

/* #endregion */

/* #region ----- 🤖🤖🤖 COMPONENTS 🤖🤖🤖 --- GRAY CARD */

.gray_card {
  width: 85%;
  margin: 100px auto;
  padding: 50px 0px;
  background: var(--gray_card);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* #region GRAY CARD -- TEXT BLOCK */

.gray_card--text_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px auto;
  padding: 15px;
  /* margin-top: 25px;
	margin-bottom: 25px; 
	Commented this out 4/8 while trying to get to grips with 
	refactoring, standardized spacing on site.*/
}
.gray_card--text_block {
  h2 {
    text-align: center;
    margin-bottom: 25px;
  }

  p {
    max-width: 55ch;
    /* max-width: 50%; */
    font-size: 18px;
  }

  p:first-of-type {
    text-align: center;
    max-width: 45ch;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
  }
}
/* #endregion */

/* #region GRAY CARD -- IMAGE & TEXT BLOCK */

.gray_card--image_and_text_block {
  p {
    max-width: 52ch;
    font-size: 1.25rem;
  }

  p:first-of-type {
    max-width: 43ch;
    font-size: 22px;
    font-size: 1.65rem;
    font-weight: 700;
  }

  img {
    width: 175px;
    height: 175px;
    border-radius: 15px;
    /* align-self: center; */
    /* box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark); */
    box-shadow: 10px 10px 2px var(--brand_color_1);
  }

  video {
    width: 175px;
    height: 100%;
    border-radius: 15px;
    filter: invert(0%) sepia(100%) saturate(22%) hue-rotate(332deg)
      brightness(96%) contrast(104%);
  }
}
/* #endregion */

/* #endregion */

/* #region ----- 🤖🤖🤖 COMPONENTS 🤖🤖🤖 --- PINK CARD */

/* https://codepen.io/aitchiss/pen/QWKmPqx */

div.card--pink {
  --paper-color: var(--pink);
  --paper-dark: var(--pink_dark);
  --shadow-size: 1px;
  --transparent: rgba(236, 178, 186, 0);
}

div.card--paper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 335px;
  min-height: 350px;
  font-size: 2rem;
  background: linear-gradient(
      to bottom right,
      var(--paper-dark),
      20%,
      var(--transparent)
    ),
    var(--paper-color);
  box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
}

/* #endregion */

/* #region ----- 🤖🤖🤖 COMPONENTS 🤖🤖🤖 ---  Span Classes */

span.line {
  display: block;
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: 5px solid var(--brand_color_1);
  width: 100vw;
  margin-left: 0;
}

/* #endregion */

/* #region Media Queries */

/* #region Media Queries - Smartphones */

@media screen and (min-width: 0px) and (max-width: 575px) {
  div.gray_card {
    width: 95%;
  }
}

/* #endregion */

/* #region Media Queries - Tablets */

@media screen and (min-width: 576px) and (max-width: 1024px) {
  /* ----- 🌎🌎🌎 GLOBAL 🌎🌎🌎 */
}

/* #endregion */

/* #endregion */
