#article_and_contact_container {
  justify-content: space-evenly;
  gap: 15px;
}

/* #region ARTICLE CONTAINER  */

.article_container {
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 65%;
  margin-top: -45px;
  border: 3px solid var(--black);
  padding: 25px;
  background: var(--white);
}

/* Replaced .article_container p:first-of-type for better semantic HTML. */

.article_container blockquote:first-of-type {
  text-align: center;
  max-width: 40ch;
  font-family: var(--font_family_1);
  font-size: 22px;
  font-weight: 700;
}

/* #region ARTICLE FULL TEXT */

.article_container h1,
.article_container h2,
.article_container h3 {
  text-align: center;
}

#article_title_block {
  display: flex;
  justify-content: center;
  background: var(--brand_color_3);
}

#article_title_block h1 {
  max-width: 35ch;
  /* Use margin-top: & margin-bottom: instead of margin: to override
		  styling in main.css */
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 75px;
  color: var(--white);
  line-height: 1.5;
}

.article_container img:first-of-type {
  align-self: center;
  max-width: 350px;
  max-height: 250px;
  margin: 25px 0px;
}

.article_container p {
  max-width: 55ch;
  font-size: 18px;
  color: var(--black);
}

.article_container p:last-of-type {
  margin-bottom: 45px;
}

.article_container ul {
  max-width: 45ch;
  padding: 12px 0px;
  font-size: 18px;
}

.article_container ul li {
  list-style: none;
  list-style-position: inside;
  padding: 0 20px 5px;
  padding-bottom: 10px;
  background: url(/images/icons/li_icon-heart-1.svg) no-repeat scroll 0 0
    transparent;
  background-size: 12px 12px;
  background-position-y: 6px;
  color: #dd137b;
}

/* #region ARTICLE CONTAINER -- BUBBLE QUOTE CSS */
/* GRMA Jeremy Caris: https://codepen.io/jeremycaris/pen/Lzkeq */

.bubble_quote-1 {
  max-width: 90%;
  margin: 25px 0px;
  /* Tweaks position of last / right quotation mark. */
  padding-right: 10px;
  border-radius: var(--border_radius);
  background: var(--brand_color_1);
}

.bubble_quote-2 blockquote {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* For some reason, the bottom margin needs to be slightly smaller
      than the top margin to preserve symmetry? */
  margin: 25px 0px 10px 0px;
  padding: 20px 5px;
  background: var(--brand_color_1);
  border-radius: var(--border_radius);
  font-family: var(--font_family_1), sans-serif;
  font-style: italic;
  color: var(--white);
}

.bubble_quote-2 blockquote .bubble_quote--text {
  padding: 20px 20px;
  font-size: 25px;
  color: var(--white);
}

.bubble_quote-2 blockquote .bubble_quote--quotation_marks {
  margin: 0;
  /* Elimiante "excess" padding in quotation marks so they can be 
		  properly positioned using flexbox." */
  line-height: 0;
  font-size: 80px;
  color: var(--white);
}

.quotation_marks--left {
  padding-right: 20px;
  align-self: flex-start;
}

.quotation_marks--right {
  padding-left: 20px;
  align-self: flex-end;
}

.bubble_quote-2 div {
  display: none;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--brand_color_1);
  margin: 0 0 0 60px;
  margin: 0 0 0 500px;
}

.bubble_quote-2 p.quote_attribution {
  display: none;
  text-align: right;
  margin: 8px 0 0 20px;
  font-size: 18px !important;
}

/* #endregion ARTICLE CONTAINER BUBBLE QUOTE CSS */

.article_container #article_valediction {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  line-height: 1.4;
}

.article_container img#coach_bernadette_signature {
  align-self: center;
  max-width: 350px;
  max-height: 100px;
  margin: 25px 0px;
}

/* #endregion  ARTICLE FULL TEXT */

/* #region COACH BERNADETTE BIO CONTAINER */

#coach_bernadette_bio_container {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 3px solid var(--brand_color_1);
  background: var(--brand_color_3);
}

.article_container #coach_bernadette_bio_container img {
  border-radius: var(--border_radius);
  border: 1px solid black;
}

.article_container #coach_bernadette_bio_container-text {
  justify-self: center;
  width: 70%;
  max-width: 45ch;
  padding: 15px;
}

.article_container #coach_bernadette_bio_container-text p:first-of-type {
  font-size: 18px;
  font-weight: 600;
}

.article_container #coach_bernadette_bio_container-text p {
  font-size: 15px;
  font-weight: initial;
}

/* #endregion COACH BERNADETTE BIO CONTAINER */

/* #endregion ARTICLE CONTAINER */

/* #region CONTACT CONTAINER */

#contact_container {
  position: sticky;
  top: 90px;
  min-width: 25%;
  max-width: 50ch;
  height: 0%;
  margin-top: 45px;
  margin-bottom: 45px;
  border-radius: var(--border_radius);
  background: #efefef;
}

#contact_container p {
  max-width: 45ch;
}

#contact_container .flex_container--basic_column:first-of-type {
  margin-top: 45px;
}

#contact_container .flex_container--basic_column {
  align-self: center;
  border-bottom: 1px dotted var(--black);
}

#contact_container div.flex_container--basic_column:last-of-type {
  border-bottom: none;
}

#contact_container h2 {
  align-self: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

#contact_container p {
  max-width: 45ch;
  font-weight: 600;
}

#contact_container--upcoming_events,
#contact_container--social_media,
#contact_container--meet_cute,
#contact_container--lets_connect {
  align-items: center;
  margin-bottom: 5vh;
}

#contact_container--upcoming_events p:last-of-type,
#contact_container--social_media p:last-of-type,
#contact_container--meet_cute p:last-of-type,
#contact_container--lets_connect p:last-of-type {
  margin-bottom: 25px;
}

#contact_container #contact_container--upcoming_events p {
}

#contact_container
  #contact_container--upcoming_events
  div.flex_container--basic_row {
  justify-content: space-around;
  /* Hacky solution to width: 100% not working? */
  /* max-width: 25vw; */
}

#contact_container #contact_container--meet_cute img {
  width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* #endregion CONTACT CONTAINER */

/* #region MEDIA QUERIES */

@media screen and (min-width: 0px) and (max-width: 320px) {
  .article_container img:first-of-type {
    display: none;
  }

  .bubble_quote-1 {
    align-self: initial;
  }

  .bubble_quote-2 blockquote {
    font-size: 14px;
  }

  .bubble_quote-2 blockquote .bubble_quote--quotation_marks {
    font-size: 18px;
  }
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  #article_title_block h1 {
    font-size: 35px;
  }

  .article_container {
    align-items: flex-start;
    width: 95%;
    padding: 25px;
  }

  .article_container h2 {
    align-self: center;
  }

  .article_container img:first-of-type {
    max-width: 250px;
  }

  .bubble_quote-1 {
    max-width: 95%;
  }

  .bubble_quote-2 blockquote .bubble_quote--text {
    font-size: 15px;
  }

  .bubble_quote-2 blockquote .bubble_quote--quotation_marks {
    font-size: 40px;
  }

  .article_container img#coach_bernadette_signature {
    max-width: 250px;
  }

  #contact_container {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 595px) {
  .bubble_quote-1 {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .bubble_quote-1 {
    align-self: center;
    width: 95%;
  }

  .bubble_quote-2 blockquote .bubble_quote--text {
    font-size: 20px;
  }

  .bubble_quote-2 blockquote .bubble_quote--quotation_marks {
    font-size: 60px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1185px) {
  #article_and_contact_container {
    flex-direction: column;
  }

  #contact_container {
    align-self: center;
  }

  #contact_container--upcoming_events,
  #contact_container--social_media {
    text-align: center;
  }
}
/* #endregion MEDIA QUERIES */
