main#letter_from_coach_bernadette {
  /* Set overflow: visible so that flex box & position: sticky play nice. */
  overflow: visible;
}

/* #region Page-Specific Containers */

main#letter_from_coach_bernadette .container--letter--text_and_image {
  justify-content: space-around;
  height: 100%;
  overflow: visible;
}

main#letter_from_coach_bernadette .container--letter--text {
  justify-content: center;
  align-items: center;
  max-width: 60ch;
  margin-top: 50px;
  padding: 25px;
  background: var(--gray_card);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

main#letter_from_coach_bernadette
  .container--letter--image_certifications_and_links {
  justify-content: space-between;
  /* Use margin-left to create a bit of gap between flex containers
      so there's still white space between them when they wrap. */
  margin-left: 25px;
}

main#letter_from_coach_bernadette .container--letter--image {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  align-content: center;
  padding: 25px 25px 0px 25px;
}

main#letter_from_coach_bernadette
  .container--letter--image
  .container--letter--image--certifications {
  align-self: center;
  justify-content: space-evenly;
  border: 1px solid lightgray;
  border-radius: var(--border_radius);
  background: var(--white);
}

main#letter_from_coach_bernadette .container--letter--image--learn_more {
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  border-radius: var(--border_radius);
  padding: 10px 20px;
  background: var(--gray_card);
}

/* #endregion */

/* #region Letter Text */

main#letter_from_coach_bernadette .container--letter--text p {
  max-width: 39ch;
  font-size: 1.25rem;
}

main#letter_from_coach_bernadette .container--letter--text p.larger {
  max-width: 39ch;
  font-size: 1.25rem;
  font-weight: 700;
}

main#letter_from_coach_bernadette .container--letter--text p.salutation,
main#letter_from_coach_bernadette .container--letter--text p.valediction {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}

main#letter_from_coach_bernadette .container--letter--text p.salutation {
  text-align: center;
  margin-bottom: 25px;
}

main#letter_from_coach_bernadette .container--letter--text p.valediction {
  text-align: center;
  margin-top: 25px;
}

main#letter_from_coach_bernadette .container--letter--text svg {
  width: 95%;
  margin: 15px 0px;
}

main#letter_from_coach_bernadette .container--letter--text path {
  fill: var(--black);
  stroke: var(--black);
  stroke-width: 3.5;
}

/* #endregion */

/* #region Letter Image, Certifcations, & Links */

main#letter_from_coach_bernadette
  .container--letter--image
  img.coach_bernadette-portrait {
  align-self: center;
  max-width: 250px;
  max-height: 350px;
  border: 3px solid var(--gray_card);
  border-radius: var(--border_radius);
}

main#letter_from_coach_bernadette .container--letter--image span {
  margin: 5px 0px;
  font-weight: 600;
}

main#letter_from_coach_bernadette .container--letter--image span.caption {
  align-self: center;
  font-size: 1.5rem;
  color: var(--brand_color_1);
}

main#letter_from_coach_bernadette
  .container--letter--image
  .container--letter--image--certifications
  img {
  width: 85px;
  padding: 5px;
}

main#letter_from_coach_bernadette .container--letter--image--learn_more span {
  max-width: 35ch;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* #endregion */

/* #region Media Queries */

@media screen and (min-width: 0px) and (max-width: 841px) {
  main#letter_from_coach_bernadette .container--letter--text {
    margin-bottom: 100px;
  }
}

@media screen and (min-height: 0px) and (max-height: 662px) {

  main#letter_from_coach_bernadette
    .container--letter--image
    img.coach_bernadette-portrait {
    /* Adjust height of Coach Bernadette portrait to prevent it
          from being clipped / cut off by sticky nav menu. */
    max-height: 280px;
  }

main#letter_from_coach_bernadette .container--letter--image--learn_more {
  /* Set a z-index on the "Learn More" container so that it doesn't overlap / "smoosh" with
        Coach Bernadette's certifications on smaller screens. */
z-index: 2;
}

}

/* #endregion Media Queries */
