section#message_from_coach_bernadette h2 {
  align-self: center;
  display: inline-block;
  text-align: center;
  max-width: 45ch;
  font-family: "Open Sans", sans-serif;
  font-size: 1.75rem;
  color: var(--brand_color_1);
}

.responsive--show_mobile--book_rec_image--issue_3 {
  display: none;
}
