section#dating_app_spotlight div#iframe_container {
  margin-top: 50px;
}

section#dating_tips img#issue_2--dating_tips {
  width: 25%;
  height: 25%;
}

section#new_glossary div#issue_2--new_glossary--iframe_container {
  align-content: center;
  margin-top: 50px;
}

section#new_glossary iframe {
  max-width: 100%;
}

section#new_glossary div#issue_2--new_glossary--iframe_container p {
  max-width: 45ch;
  font-size: 15px;
}

div#issue_2--dating_app_spotlight--iframe {
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
